.content {
  margin: 0 10%;
  color: black;
  background-color: white;
  font-size: 14px;
  font-weight: 300;
}

.navigator {
  background-color: gray;
}

nav {
  margin: 0 10%;
  color: white;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: right;
}

ul {
  margin-left: 0;
  padding-left: 6px;
}

li {
  margin-left: 0;
  margin-bottom: 5px;
  list-style-type: none;
}
.linkStyle {
  text-decoration: inherit;
  color: inherit;
}
.linkStyle:hover {
  color: #3f51b5;
}
