.content {
  margin: 0 10%;
  color: black;
  background-color: white;
  font-size: 14px;
  font-weight: 300;
}

.navigator {
  background-color: gray;
  height: 50px;
  display: flex;
  align-items: center;
}

nav {
  margin: auto 10%;
  padding-left: 6px;

  color: white;
  font-size: 18px;
  font-weight: 600;
}

.linkStyle {
  text-decoration: inherit;
  color: inherit;
  padding-right: 30px;
}
.linkStyle:hover {
  color: #3f51b5;
}
